body{
    background-color: lightgray;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.title{
    color: darkblue;
}

button{
    align-items: center;
    background-color: lightcyan;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

#counter{
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}

.negative {
    color: red;
}